:root {
    --clr-primary: #150225;
    --clr-secondary: rgba(107, 141,207,.8);
    --clr-neutral: #ddf7f3;

    --max-width: 1240px;

    --transition-time: 450ms;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* screen reader only */
.sr-only {
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
}

/* global styles */
body {
    font-family: "Poppins", sans-serif;
    background: var(--clr-neutral);
    font-size: 1rem;
    color: var(--clr-primary);
}

header {
    background-color: var(--clr-secondary);
    padding:  3em;
}

main {
    justify-content: center;
    align-items: center;
    padding: 2em 2em 20em;
    isolation: isolate;
}

h1 {
    width: 100%;
    justify-content: center;
    margin-block: 1em;
}

h2 {
    max-width: 30ch;
    font-size: 1.25em;
    font-weight: 500;
    user-select: none;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

p {
    max-width: 35ch;
    font-size: .75em;
}

a {
    font-size: 1em;
    color: var(--clr-primary);
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

button, .button {
    padding: 1em 2em;
    border: 2px solid var(--clr-primary);
    background: var(--clr-primary);
    color: white;
    border-radius: .25em;
    cursor: pointer;
    /* disabling user select of text in buttons */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

img {
    width: 100%;
    height: 100%;
}

[data-disabled="true"] {
    opacity: .7;
    pointer-events: none;
}

/* utility classes */
.flex {display: flex;}
.column {flex-direction: column;}
.grid {display: grid;}
.hidden {display: none;}

/* loader styling */
.loader {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    inset: 0;
    background-color: var(--clr-neutral);
    z-index: 1000;
    display: flex;
    justify-content: center;
    opacity: 1;
    clip-path: circle(100%);
    transition: opacity 850ms ease-in-out, clip-path 650ms ease-in-out 200ms;
}

/* hiding loader */
.hide.loader {
    opacity: 0;
    clip-path: circle(0%);
}

.balls {
    position: absolute;
    min-width: 600px;
    aspect-ratio: 1;
    display: flex;
    gap: 1em;
    padding: 11em;
    margin: auto;
    perspective: 450px;
    animation: rotate 5s infinite linear, pulse 10s infinite linear;
    transform: scale(.25);
    overflow: hidden;
    border-radius: 50%;
    opacity: 1;
    box-shadow: inset 2px 2px 4px -1px rgba(180, 10, 120, .5),
                inset 5px 5px 12px -3px rgba(180, 10, 120, .6),
                inset 12px 12px 30px rgba(180, 10, 120, .3),
                inset -4px -4px 12px var(--clr-primary)
  }
  
  .ball {
    width: .75em;
    height: .75em;
    background-color: var(--clr-primary);
    background: linear-gradient(0deg, var(--clr-neutral) 0%, var(--clr-secondary) 77%);
    border-radius: 50%;
    opacity: 1;
    animation: bounce 8s infinite, pulse 8s infinite;
    transform: translateY(-20em) translateZ(-100px) translateX(0);
  }
  
  .ball:nth-child(2) {
    animation-delay: -100ms;
  }
  
  .ball:nth-child(3) {
    animation-delay: -200ms;
  }
  
  .ball:nth-child(4) {
    animation-delay: -300ms;
  }
  
  .ball:nth-child(5) {
    animation-delay: -400ms;
  }
  
  .ball:nth-child(6) {
    animation-delay: -500ms;
  }
  
  .ball:nth-child(7) {
    animation-delay: -600ms;
  }
  
  .ball:nth-child(8) {
    animation-delay: -700ms;
  }
  
  @keyframes bounce {
    25% {
      transform: translateZ(150px);
    }
    50% {
      transform: translateY(3em) translateZ(-150px);
    }
    75% {
      transform: translateZ(150px);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotateZ(60turn);
    }
  }
  
  @keyframes pulse {
    35% {
      opacity: 1;
    }
    50% {
      opacity: .25;
    }
    60% {
      opacity: 1;
    }
  }

/* layout styling */
nav {
    max-width: var(--max-width);
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-inline: auto;
}

.logo {
    width: 10em;
    height: 4em; 
    flex-shrink: 0;   
}

.nav__links {
    gap: 1em;
    justify-content: flex-end;
}

/* nav toggle */
.hamburger__link {
    width: 2em;
    height: 2em;
}

/* nav toggle animation */
.hamburger__link > * {
    transition: var(--transition-time) ease-out;
}

.top__line {
    transform-origin: bottom;
}

.bot__line {
    transform-origin: top;
}

.navOpenTop {
    animation: navOpen-top var(--transition-time) ease-out both;
}

@keyframes navOpen-top {
    50% {
        transform: translate(0, 25%) rotate(0);
    }
    100% {
        transform: translate(-51%, 2.75%) rotate(45deg);
    }
}

.navOpenMid {
    opacity: 0;
}

.navOpenBot {
    animation: navOpen-bot var(--transition-time) ease-out both;
}

@keyframes navOpen-bot {
    50% {
        transform: translate(0, -25%) rotate(0);
    }
    100% {
        transform: translate(-51%, -2.75%) rotate(-45deg);
    }
}

/* carousel and wrapper */

.carousel__wrapper {
    overflow-x: scroll;
    margin-block: 2em;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel__wrapper::-webkit-scrollbar {
    display: none;
}

.carousel {
    max-width: 600px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 1em;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
}

.carousel__card {
    position: relative;
    width: 8em;
    cursor: pointer;
    border-radius: .5em;
    overflow: hidden;
    background-color: white;
}

.carousel__card > img {
    padding: 1em;
}

/* carousel card overlay */
.carousel__overlay {
    height: 60%;
    width: 100%;
    position: absolute;
    inset: 0;
    margin-top: auto;
    display: grid;
    place-content: center;
    text-align: end;
    padding: 1em;
    color: white;
    background-color: var(--clr-primary);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 550ms ease-out, opacity 350ms ease-in 150ms;
    pointer-events: none;
}

.carousel__card:hover > .carousel__overlay, 
.carousel__card:focus-visible > .carousel__overlay {
    transform: translateY(0);
    opacity: 1;
}

/* scroll arrows */
.scroll__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__arrow {
    width: 4em;
    height: 2em;
    padding: .25em;
    cursor: pointer;
    transition: all 350ms ease-in;
    transform: scale(1);
    z-index: 1;
}

.scroll__arrow > svg {
    width: 100%;
}

.scroll__arrow:first-of-type {
    transform: rotate(180deg);
}

.scroll__wrapper > .scroll__arrow:first-of-type.disabled {
    opacity: 0;
    transform: rotate(180deg) translateX(-100%);
    z-index: -1;
}

.scroll__wrapper > .scroll__arrow:nth-of-type(2).disabled {
    opacity: 0;
    transform:translateX(-100%);
    z-index: -1;
}


/* about portion of page */
.about__container {
    width: 100%;
    justify-content: center;
    padding: 2em;
}

.about__content {
    gap: 1em;
}

.about__image {
    max-width: 500px;
    max-height: 524px;
    border-radius: .5em;
}

.about__image > img {
    object-fit: cover;
    object-position: bottom;
    border-radius: inherit;
}

/* footer */
footer {
    width: 100%;
    position: relative;
    justify-content: center;
    background-color: var(--clr-secondary);
    z-index: -1;
}

.footer__wrapper {
    max-width: var(--max-width);
    gap: 10%;
    padding: 3em 3em 5em;
}

.contact__info {
    width: min-content;
    gap: 1em;
    position: relative;
    left: 2em;
    padding: 2em;
}

.contact__info > li::before {
    content: "";
    background:center no-repeat;
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translateX(-100%);
}

.contact__info > li:first-child::before {
    background-image: url(./images/mailbox.svg);
}
.contact__info > li:nth-child(2)::before {
    background-image: url(./images/phone.svg);
}
.contact__info > li:nth-child(3)::before {
    background-image: url(./images/mail.svg);
}

.footer__wrapper {
    justify-content: space-between;
}

.form__wrapper {
    gap: 4vw;
    flex-wrap: wrap;
    justify-content: center;
}

.social__icons {
    width: 50%;
    justify-content: space-between;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}



/* products.html styles */
.products__container {
    max-width: var(--max-width);
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    z-index: -1;
}

.product {
    position: relative;
    width: 10em;
    aspect-ratio: 3 / 4;
    flex-shrink: 0;
    border-radius: .25em;
    background-color: white;
    transition: transform 250ms ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.product > img {
    padding: 1em;
}

.product:hover, .product:focus-visible {
    transform: scale(1.05) translate(2px, -2px);
}

.product__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 60, .6);
    color: white;
    pointer-events: none;
    padding: .5em;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 550ms ease-out, transform 350ms ease-out;
}

.product:hover > .product__overlay, .product:focus-visible > .product__overlay {
    opacity: 1;
    transform: translateY(0);
}

.searchbar__container {
    position: relative;
    width: min(25em, 100%);
}

.searchbar__wrapper {
    position: relative;
    align-items: center;
}

.searchbar__wrapper > input {
    width: 100%;
    line-height: 3;
    padding-inline: 1em;
    border-radius: 100vw;
    border: 2px solid transparent;
    transition: border-color 350ms ease-out;
    box-shadow: 0 0 10px -2px var(--clr-secondary);
}

.searchbar__wrapper > input:hover, .searchbar__wrapper > input:focus-within, .searchbar__wrapper > input:active {
    outline: none;
    border-color: var(--clr-secondary);
}

.search__label {
    position: absolute;
    right: 1em;
    cursor: pointer;
}

/* search options */
.search__options {
    position: absolute;
    top: 3em;
    width: 100%;
    background-color: white;
    transition: 350ms ease-out;
    height: fit-content;
    border-radius: 1em;
    border: 2px solid var(--clr-neutral);
    overflow: hidden;
    box-shadow: 0 0 10px -2px var(--clr-secondary);
}

.search__options:hover, .search__options:focus-within {
    border-color: var(--clr-secondary);
}

.search__options > li {
    width: 100%;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
    transform-origin: top;
    transition: all 350ms ease-out;
    border-block: 1px solid transparent;
    cursor: pointer;
}

.search__options > li:hover, 
.search__options > li:focus-visible {
    background-color: var(--clr-neutral);
    border-block-color: var(--clr-secondary);
}

.search__options > li > h4 {
    margin-left: auto;
}

.thumbnail {
    width: 2em;
}

/* individual product modal */
.product__modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    background-color: rgba(60,20,80, .4);
    transform-origin: center;
    opacity: 1;
    transform: scale(1);
    transition: opacity 450ms ease-out 100ms, transform 100ms;
}

.product__container {
    display: flex;
    margin: auto;
    gap: 2em;
    border-radius: 1em;
    padding: 1em;
    background-color: var(--clr-neutral);
    transform: scale(1) translateZ(0);
    transform-style: preserve-3d;
    perspective: 1500px;
    transition: transform 350ms ease-out 300ms;
}

.image__container {
    width: 15em;
    aspect-ratio: 3 / 4;
    border-top-left-radius: .625em;
    border-bottom-left-radius: .625em;
    overflow: hidden;
}

.product__modal-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: right;
    padding: 1em;
    position: relative;
}

.sizes__wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.sizes__wrapper > p {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--clr-primary);
    text-align: center;
    font-weight: 600;
    color: var(--clr-primary);
    transition: 350ms ease-out 20ms;
}

.sizes__wrapper > p:hover, 
.sizes__wrapper > p:focus-visible {
    background-color: var(--clr-secondary);
    color: white;
    animation: hoverBounce 1.3s linear infinite;
    transform-origin: bottom;
}

.sizes__selected {
    background-color: var(--clr-secondary);
    color: white;
}

@keyframes hoverBounce {
    47% {
        transform: translateY(-5px);
    }
    72.5% {
        transform: translateY(0) scaleY(.9);
    }
    20%, 62%, 75%, 100% {
        transform: translateY(0) scaleY(1);
    }
    86% {
        transform: translateY(-2px);
    }
}


/* hiding product modal */
.hide__product-modal {
    opacity: 0;
    transform: scale(0);
    transition: opacity 450ms ease-out, transform 100ms 400ms;
}

.hide__product-modal > .product__container {
    transform: scale(0) translateZ(-2000px);
    transition: transform 350ms ease-in;
}

.modalX {
    cursor: pointer;
    position: absolute;
    top: .25em;
    right: .25em;
}



/* details page style */

.details__container {
    margin: 5em auto;
    gap: 1em;
    background-color: var(--clr-secondary);
    padding: 2em;
    border-radius: 1em;
    overflow: hidden;
}

.details__image {
    width: 14em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    overflow: hidden;
}

.details__content {
    align-items: end;
    text-align: right;
    gap: 2em;
    border: 2px solid var(--clr-secondary);
    padding: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
}

.details__content > h1 {
    margin: 0;
}

.details__content > button {
    align-self: center;
}








/* media queries */
@media only screen and (max-width: 700px) {
    .nav__links {
        flex-direction: column;
    }
    .footer__wrapper {
        flex-direction: column;
        gap: 1em;
    }
}


